/* ---------------------- */
/* Comment Content        */
/* ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
}

body {
  font-family: "Lato", sans-serif;
  font-size: var(--fs-400);
}

h1,
h2 h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* reminders */
.container {
  width: min(100% - 3rem, 1500px);
  margin-inline: auto;
}

p {
  max-width: 75ch;
}

h1 {
  font-size: clamp(2rem, 1.75rem + 1.25vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.5rem);
  font-weight: 600;
}

h3,
h4,
h4,
h5,
h6 {
  font-size: clamp(1.125rem, 0.9063rem + 1.0938vw, 2rem);
  font-weight: 500;
}

::selection {
  background-color: black;
  color: white;
}
html {
  height: 100%;
}

body {
  background: url("../media/homepage_background_cropped.jpg") no-repeat center
    center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;
  font-family: "Lato";
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: black;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: black;
  color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #222;
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: #000 !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}
